@model ProiectII.Models.MyModel
@{
    ViewBag.Title = "AddProduse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/Login.css" />


<script>
    function myFunction() {

        $('#text').on("input", function (evt) {
            if (evt.target.value.length > 4) {
                evt.target.setCustomValidity("Email too long!!!");
                $("#shorterrormsg").show();
                $("#longerrormsg").html("Email too long!!!");
            } else {
                evt.target.setCustomValidity("");
                $("#shorterrormsg").hide();
                $("#longerrormsg").html("");
            }
        });
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box" action="AddProduct" method="post">
                    <h2>Add Produse</h2>
                    <input type="text" name="Name" placeholder="Name" required onmouseover="myFunction()"/>
                    <input type="text" name="Descriere" placeholder="Descriere" required onmouseover="myFunction()"/>
                    <input type="text" name="ImageURL" placeholder="Image URL" required onmouseover="myFunction()"/>
                    <input type="text" name="Pret" placeholder="Pret" required onmouseover="myFunction()"/>
                    <input type="text" name="CodCategorie" placeholder="Cod Categorie" required onmouseover="myFunction()"/>
                    <input type="submit" name="" value="Add produse">
                </form>
            </div>
        </div>
    </div>
</div>

@section Re{
    <div>
        @foreach (var item in Model.user)
        {
            @Html.ActionLink(@Html.DisplayFor(modelItem => item.name).ToString(), @Html.DisplayFor(modelItem => item.page).ToString())
        }
        <a href=" @Url.Action("Deconectare", "Home")">Log out</a>
    </div>
}