@model IEnumerable<ProiectII.Models.Category>
@{
    ViewBag.Title = "Home Page";
}


<div>
   <form id="form1" runat="server">  
        
              <div>
          
                  <ul>
                      @foreach (var item in Model)
                      {<!-- un fel de for pentru introducerea itemelor -->

                      <li>
                          @Html.ActionLink(@Html.DisplayFor(modelItem => item.Name).ToString(), "ListaCumparaturi", new { id = item.Id })
                      </li>

                      }
                  </ul>

</div>
        </form>
    

</div>