@model ProiectII.Models.MyModel
@{
    ViewBag.Title = "UserCreate";
}

<link rel="stylesheet" href="~/Content/Login.css" />

<script>
    function myFunction() {

        $("#email").on("input", function (evt) {
            if (evt.target.value.length > 50) {
                evt.target.setCustomValidity("Email too long!!!");
                $("#shorterrormsg").show();
                $("#longerrormsg").html("Email too long!!!");
            } else {
                evt.target.setCustomValidity("");
                $("#shorterrormsg").hide();
                $("#longerrormsg").html("");
            }
        });
    }
</script>

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form class="box" action="SingUp" method="post">
                        <h2>UserCreate</h2>
                        <input type="text" name="FirstName" placeholder="First Name"  required onmouseover="myFunction()"/>


                        <input type="text" name="LastName" placeholder="Last Name" required onmouseover="myFunction()" />

                        <input type="email" name="Email" placeholder="Email" required onmouseover="myFunction()"/>

                        <input type="password" name="Password1" placeholder="Password" required onmouseover="myFunction()"/>

                        <input type="password" name="Password2" placeholder="Password" required onmouseover="myFunction()"/>

                        <input type="tel" name="Phone" placeholder="Phone" required onmouseover="myFunction()"/>

                        <input type="submit" name="" value="Sing Up" />
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
@section Re{
    <div>
        @foreach (var item in Model.user)
        {
            @Html.ActionLink(@Html.DisplayFor(modelItem => item.name).ToString(), @Html.DisplayFor(modelItem => item.page).ToString())
        }
        <a href=" @Url.Action("Deconectare", "Home")">Log out</a>
    </div>
}