body {
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    margin-left: 200px;
    margin-right: 100px;
    padding: 10px;
}

.grid-item {
    margin-bottom: 10px;
    width: 1000px;
    height: 400px;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

.imageClass {
    width: 300px;
    height: 300px;
}

.AClass a {
    color: black;
    font-weight: bold;
}