body {
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    margin-left: 200px;
    margin-right: 100px;
    padding: 10px;
}

.grid-item {
    margin-bottom: 10px;
    width: 1000px;
    height: 400px;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

.imageClass {
    width: 300px;
    height: 300px;
}

.AClass a {
    color: black;
    font-weight: bold;
}


#button1 {
    border: 0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid #455a64;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 16px;
    transition: 0.25s;
    cursor: pointer
}

    #button1:hover {
        background: #718792
    }