body {
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
 
    margin-left:200px;
     margin-right:100px;
     
    padding: 10px;
}

.grid-item {
    margin-bottom:10px;
    width: 335px;
    height: 400px;
    background-color:#ffffff;
    padding: 20px;
    text-align: center;
}


.imageClass {
    text-align:center;
    height:300px;

}

.AClass a{
    color: black;
    font-weight:bold;
}