body {
    background-color:white;
}


#divName {
    width: 100%;
    height: 75px;
    font-size: 40px;
    font-weight: bold;
}

#divName a{
   color:black;
   font-size:30px;
   margin-top:10px;
   
}




#DescriereT{
    
    margin-left:100px;
    background-color:white;
    width: 100%-100px;
    height: 500px;
    
}



.tDereada{

    font-size:24px;
    font-weight:bold;

}


#button1 {
    border: 0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid #455a64;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 16px;
    transition: 0.25s;
    cursor: pointer
}
    #button1:hover {
        background: #718792
    }