* {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans);

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', Arial, Verdana;
    background-color: #eee;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70px;
    margin: auto;
    position: relative;
    background-color: #2c3e50;
    z-index: 7;
}

li {
    float: left;
    width: 14.25%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#idLI {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    z-index: 9;
}

    a.active {
        background-color: #e74c3c;
        pointer-events: none;
    }

li.slider {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e74c3c;
    z-index: 8;
    transition: left .4s, background-color .4s;
}

.menu li:nth-child(1):hover,
.menu li:nth-child(1):focus,
.menu li:nth-child(1):active {
    left: 0;
    background-color: #3498db;
}

.menu li:nth-child(2):hover,
.menu li:nth-child(2):focus,
.menu li:nth-child(2):active {
    left: 25%;
    background-color: #9b59b6;
}

.menu li:nth-child(3):hover,
.menu li:nth-child(3):focus,
.menu li:nth-child(3):active {
    left:40%;
    background-color: #e67e22;
}

.menu li:nth-child(4):hover,
.menu li:nth-child(4):focus,
.menu li:nth-child(4):active {
    left: 50%;
    background-color: #16a085;
}

.menu li:nth-child(5):hover,
.menu li:nth-child(5):focus,
.menu li:nth-child(5):active {
    left: 65%;
    background-color: #16a085;
}
.dropdown {
    margin-top: 10px;
    float: right;
    overflow: hidden;
    width:160px;
}

    .dropdown .dropbtn {
        font-size: 18px;
        border: none;
        outline: none;
        color: white;
        padding: 16px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}



    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}
